# DATABASE(MARIADB ENVIRONMENT)
MARIADB_HOST_NAME={{ deploy_zabbix_server_var_mariadb_hostname }}
MYSQL_ROOT_PASSWORD={{ deploy_zabbix_server_var_root_pass }}
MYSQL_USER={{ deploy_zabbix_server_var_mariadb_username }}
MYSQL_USER_PASSWORD={{ deploy_zabbix_server_var_mariadb_user_pass }}
MYSQL_DATABASE={{ deploy_zabbix_server_var_mariadb_database }}
MYSQL_PORT={{ deploy_zabbix_server_var_mariadb_port }}

# ZABBIX SERVER
ZABBIX_PORT={{ deploy_zabbix_server_var_port }}
ZABBIX_HOST_NAME={{ deploy_zabbix_server_var_hostname }}

# NGINX
NGINX_PORT={{ deploy_zabbix_server_var_nginx_port }}

#TIMEZONE
TIMEZONE={{ deploy_zabbix_server_timezone }}

